@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300&display=swap');

/*4169E1*/

:root{
    --cor-principal: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #282A3A;

    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-paragrafo: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100%vh; */
    box-sizing: border-box;
    background-color: var(--cor-principal);
}

.cabecalho {
    padding: 3% 0% 0% 15%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    font-family: var(--fonte-paragrafo);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}


main {
    color: var(--cor-secundaria);
}

.destaque-titulo {
    color: var(--cor-terciaria);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 13%;
    gap: 82px;
}

.apresentacao_conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo {
    font-size: 1.875rem;
    font-family: var(--fonte-titulo);
}

.apresentacao_conteudo_paragrafo {
    font-size: 1.25rem;
    font-family: var(--fonte-paragrafo)
}

.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_subtitulo {

    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao_links_navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: var(--cor-principal);
    border: 2px solid var(--cor-terciaria);
    color: var(--cor-secundaria);
    width: 50%;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: var(--fonte-paragrafo);
    padding: 21.5px 0;
    text-decoration: none;
}

.apresentacao_links_navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao_imagem{
    width: 35%;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: black;
    padding: 24px;
    text-align: center;
    font-size: 1rem;
    font-family: var(--fonte-paragrafo);
    font-weight: 600;
}

.apresentacao_conteudo_texto a {
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao_conteudo_texto {
    font-size: 1rem;
    font-family: var(--fonte-paragrafo)
}

.apresentacao_links_curriculo {
    text-decoration: none;
    color: var(--cor-terciaria);
}

@media (max-width: 1000px) {
    .cabecalho {
        padding: 15%;
    }

    .cabecalho_menu{
        align-items: center;
    }

    .cabecalho_menu_link {
        font-size: 0.8rem;
    }

    .apresentacao {
        flex-direction: column-reverse;
    }

    .apresentacao_conteudo_titulo {
        font-size: 1.5rem;
    }

    .apresentacao_links_subtitulo{
        font-size: 1rem;
    }
    .apresentacao_conteudo_paragrafo {
        font-size: 1rem;
    }

    .apresentacao_links_navegacao {
        font-weight: 600;
        font-size: 1rem;
      
    }

    .apresentacao_imagem {
        width: 80%;
    }

    .apresentacao_conteudo {
        width: 110%;
    }
}